In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\noahi\Downloads\scaling_forecasts.csv\scaling_forecasts.csv")
df

,campus_id,timestamp,projected_deliveries,required_robots,expansion_cost
0,3.0,2023-06-21 07:28:00,108.0,7.0,3110.191200
1,7.0,2025-03-21 04:13:00,112.0,6.0,8393.164235
2,5.0,2024-06-27 10:59:00,134.0,11.0,9426.772879
3,9.0,2020-07-29 06:57:00,116.0,16.0,2183.157559
4,3.0,2022-06-09 12:15:00,87.0,17.0,3581.815198
...,...,...,...,...,...
835066,3.0,2020-06-18 14:55:00,118.0,8.0,5028.679201
835067,8.0,2022-04-10 13:13:00,121.0,12.0,6641.727116
835068,8.0,2022-05-27 18:48:00,111.0,10.0,4393.315087
835069,1.0,2022-06-13 01:10:00,105.0,8.0,8773.544932
835070,6.0,2021-08-07 03:10:00,89.0,19.0,4545.519227